body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: futura;
  src: url(./img/FUTURA\ BK\ BT\ BOOK.TTF);
}

@font-face {
  font-family: bebas;
  src: url(./img/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: bebas pro;
  src: url(./img/BebasNeueProBold.otf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*::-webkit-scrollbar {
  width: .7rem;
}

::-webkit-scrollbar-track {
  background: #444444; 
}

::-webkit-scrollbar-thumb {
  background: rgb(93, 93, 93); 
  border-radius: 1rem;
}