.trick{
    height: 2rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    border-radius: .8rem;
    box-shadow: -3px -3px 3px #373960, 4px 6px 3px #0d0c0f;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    cursor: pointer;
    transition: box-shadow 1s ease-in-out;
}

.trick:hover{
    box-shadow: inset 5px 5px 5px #0d0c0f, inset -5px -5px 5px #373960;
    transition: box-shadow 1s ease-in-out;
}

.trickName{
    color: #E6E7E8;
    font-family: 'bebas';
    font-size: 1.8rem;
    margin: 0;
    font-weight: lighter;
}

.emojis{
    height: 70%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skateboard{
    width: auto;
    height: 100%;
}