.trick{
    height: 2rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    border-radius: .8rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -3px -3px 4px #373960,
                -3px -3px 4px #373960,
                5px 5px 4px #0d0c0f,
                5px 5px 4px #0d0c0f;
}

.trick:hover{
    box-shadow: -2px -2px 4px #373960,
    -2px -2px 4px #373960,
    2px 2px 4px #0d0c0f,
    2px 2px 4px #0d0c0f;
}

.trick:active {
box-shadow: inset -2px -2px 6px #373960,
    inset -2px -2px 4px #373960,
    inset 2px 2px 2px #0d0c0f,
    inset 2px 2px 4px #0d0c0f;
}

.trickName{
    color: #E6E7E8;
    font-family: 'bebas';
    font-size: 1.8rem;
    margin: 0;
    font-weight: lighter;
}

.emojis{
    height: 70%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skateboard{
    width: auto;
    height: 100%;
}