.container{
    width: 400px;
    height: fit-content;
    background: #1C1D31;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.userImg{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: #C91865;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E6E7E8;
    font-family: 'bebas';
    font-size: 3rem;
}

.title,
.score{
    color: #E6E7E8;
    font-family: 'bebas';
    font-size: 3rem;
    margin: 0;
}

.score{
    font-size: 1.5rem;
}

.btn{
    width: 80%;
    height: 3rem;
    border: none;
    border-radius: .6rem;
    background-color: #787878;
    color: #E6E7E8;
    font-family: 'bebas';
    font-size: 1.4rem;
    cursor: pointer;
}